version: "3"

services:
  client:
    build:
      context: ./client/
    restart: unless-stopped
    env_file: .env
    ports: 
      - "9000:9000"
    depends_on:
      - cms
    working_dir: /app
    command: ./run.sh

  cms:
    image: strapi/strapi
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
    depends_on:
      - mongo-cms
    volumes:
      - ./cms:/srv/app
    ports:
      - "1337:1337"

  mongo-cms:
    image: mongo
    env_file: .env
    restart: unless-stopped
    volumes:
      - db:/data/db

volumes:
  db: